.content {
  width: 510px;
  height: 525px;
  margin-left: 60px;
}

.content__label {
  font-size: 14px;
  text-transform: uppercase;
}

.content__header {
  font-size: 56px;
  margin-top: 20px;
}

.content__emphsis {
  font-size: 32px;
  margin-top: 20px;
}

.content__body-text {
  font-size: 18px;
  margin-top: 20px;
}

